body {
  font-family: Arial, sans-serif;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #555454;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input{
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

option {
    background-color: #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #1e1f1e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ccc;
  color: black;
}

.result {
  margin-top: 15px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}